<html>
<head>
	<meta charset="UTF-8">
	<title>About Us</title>
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'about/css/aboutUs.css' %}">
</head>
<body>
	
	<div class="fade"></div>
	<section class='flower-wars'>
		<div class="crawl">
			<div class="title">
				<h1>About Us</h1>
			</div>
			<p>Flowers For The People is a full service boutique Botanical design company.  Family owned and operated by founders and siblings Mick and Olivia Payment.</p>
			<p>Olivia and Mick grew up playing with flowers in their mother's flower shop, Bloomers of Bellevue on Old Main, just blocks from where FFTP opened their doors. Growing up in a flower shop and being second generation florists has given the pair a deep rooted appreciation for flowers, plants and design in general.</p>
			<p>They go above and beyond to source, the freshest and luscious boutique ingredients, seasonally. When available, locally, sustainably sourced, and organically grown blooms are always the first choice.</p>
			<p>They have a close friendship with their growers and a lot of them happen to be right here in the Pacific Northwest... It really does not get any more farm fresh than this.
			FFTP has fresh product in daily and, hand selecting each bunch of blossoms directly, so you can be confident that you are getting the absolute freshest and most beautiful flowe</p>
			<p>Always on the cutting edge....they are constantly looking at what's next while still paying hommage to the past, their style can be described as fresh and modern while still maintaining a timeless and classic feel. Fusing their passion for fine vintage treasures, fashion, lifestyle design and of course plants and flowers, Mick and Olivia have crafted Flowers For The People into something that is "so much more than just a flower shop"  as their customers have said time and time again.</p>
		</div>
	</section>
	
</body>
</html>