{% extends "services/serviceBase.html" %}
{% load static %}

{% block content %}
	<h2>Botanical Designs</h2>
	<p>We are redefining the common "houseplant". It is time to look at plants and flowers as an important and necessary part of every space.</p>
	<p>Let us bring the outside in and add a lush layer of flowers and plants to your space. We are here to help you with all your botanical design needs and offer a large range of design services. Schedule a consultation and we will meet with you to create a plan that is tailored to fit your lifestyle and personal preferences.</p>
{% endblock %}