{%extends "services/serviceBase.html" %}
{% load static %}

{% block content %}
	<h2>Estate</h2>
	<div>
		<p>From weekly scheduled boutique floral deliveries and glamorous orchid planters, to bridal showers and dinner parties; estate services are one of our specialties. For assistance both indoors or out, we will work with you to create a vision and a plan for your home, that fit your specific botanical needs. Think of us as your own personal, In-house Florist, the possibilities are endless! Schedule a consultation today to see what areas in your home we can make come to life.</p>
	</div>
	