{% extends "services.serviceBase.html" %}
{% load static %}

{% block content %}
	<h2>Spectactular Holiday Designs</h2>
	<p>Whether you need some light seasonal inspiration or you want to deck your halls we are here to help when it comes to holiday installation and decor needs.</p>
	<ul>
		<p>We can handle all your floral needs: </p>
		<li>Residential Decor Services</li>
		<li>Commercial Decor Services</li>
		<li>Exterior Decor Services</li>
		<li>Holiday Event Planning</li>
		<li>Long Term Storage</li>
	</ul>
{% endblock %}