<html>
<head>
	<meta charset="UTF-8">
	<title>Flowers For The People</title>
</head>
<body>
	<article>
		<h1>Ready To Place Your Order?</h1>
		<h3>Fill Out The Form Below</h3>
		<h3>Or <a href="{% url 'orders:catalog' %}">Click Here</a> To View Our Catalog</h3>
		<nav>
			
		</nav>
	</article>
	<section id="imgRight">
		<img src="http://www.stevensegallery.com/g/200/300" alt="">
		<img src="http://www.fillmurray.com/200/300" alt="">
	</section>
	<section>
		<form action="{% url 'orders:submit' %}" method="POST">
			{% csrf_token %}
			<label for="firstName">First Name: </label>
			<input type="text">
			<label for="lastName">Last Name: </label>
			<input type="text">
			<label for="">Contact Number: </label>
			<input type="text">
			<label for="">Email <sub>Optional</sub></label>
			<input type="text">
			<label for="">Items</label>
			<input type="text">
			<label for="">Delivery or Pickup</label>
			<input type="text">
			<label for="">Date Requested: </label>
			<input type="text">
			<input type="submit" name="submit" value="Place Order">
		</form>
	</section>
	<section id="imgLeft">
		<img src="http://www.fillmurray.com/200/300" alt="">
		<img src="https://www.placecage.com/200/300" alt="">
	</section>
</body>
</html>