<html>
<head>
	<meta charset="UTF-8">
	<title>Flowers For The People</title>
</head>
<body>
	<article>
		<h1>Ready To Place Your Order?</h1>
		<h3>Fill Out The Form Below</h3>
		<h3>Or <a href="{% url 'orders:catalog' %}">Click Here</a> To View Our Catalog</h3>
		<nav>
			
		</nav>
	</article>
	<section id="imgRight">
		<img src="http://www.stevensegallery.com/g/200/300" alt="">
		<img src="http://www.fillmurray.com/200/300" alt="">
	</section>
	<section>
		<fieldset>
			<form action="{% url 'orders:submit' %}" method="POST">
				{% csrf_token %}
				<label for="fName">First Name: </label>
				<input type="text" name="fName"><br>
				<label for="lName">Last Name: </label>
				<input type="text" name="lName"><br>
				<label for="email">Email: </label>
				<input type="text" name="email"><br>
				<label for="address">Address: </label>
				<input type="text" name="address"><br>
				<label for="date">Date Requested: </label>
				<input type="date" name="date"><br>
				<label for="time">Time: </label>
				<input type="time" name="time"><br>
				<label for="delivery">Delivery</label>
				<input type="radio" name="delivery"><br>
				<label for="pickup">Pickup</label>
				<input type="radio" name="pickup"><br>
				<input type="submit" name="submit" value="Place Order">	
			</form>
		</fieldset>
	</section>
	<section id="imgLeft">
		<img src="http://www.fillmurray.com/200/300" alt="">
		<img src="https://www.placecage.com/200/300" alt="">
	</section>
</body>
</html>