<html>
<head>
	<meta charset="UTF-8">
	<title>Flowers For The People</title>
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'orders/css/shopFlowers.css' %}">
</head>
<body>
<article>
	<h3>Browse our Floral catalog</h3>
	<nav>
		<ul>
			<li><a href="">Flowers</a></li>
			<li><a href="">Plants</a></li>
			<li><a href="">Candles</a></li>
			<li><a href="">Candy</a></li>
			<li><a href="">Containers</a></li>
			<li><a href="">Books</a></li>
			<li><a href="">Vintage</a></li>
			<li><a href="">Other Goods</a></li>
		</ul>
	</nav>
</article>
<article>
	<section>
		<div>
			{% if category %}{{category.name}}{% else %}Products{% endif %}

			{% block context %}
			<div id="product">
				<img src="{{ product.image }}{{product.image.url}}" alt="">
			</div>
			{% endblock context %}
		</div>
	</section>
</article>

<article id="flowerCatalog">
	<section id="rowOne">
		<ul>
			<li><img src="static/orders/img/shopFlowers/BrightMixinPedestalVase.webp" alt=""><p>Desc of Product</p></li>
			<li><img src="static/orders/img/shopFlowers/ClassicBlueandWhiteHydrangea.png" alt=""><p>Desc of Product</p></li>
			<li><img src="static/orders/img/shopFlowers/ClassicWhiteandGreenHydrangea.webp" alt=""><p>Desc of Product</p></li>
			<li><img src="static/orders/img/shopFlowers/FlowersFilledLog.png" alt=""><p>Desc of Product</p></li>
		</ul>
	</section>
	<section id="rowTwo">
		<ul>
			<li><img src="static/orders/img/shopFlowers/FreshWhiteandGreen.webp" alt=""><p>Desc of Product</p></li>
			<li><img src="static/orders/img/shopFlowers/FruitsBerriesandBlooms.webp" alt=""><p>Desc of Product</p></li>
			<li><img src="static/orders/img/shopFlowers/GardenRosesinTerracotta.webp" alt=""><p>Desc of Product</p></li>
			<li><img src="static/orders/img/shopFlowers/IvyGardenRosesandOrchids.webp" alt=""><p>Desc of Product</p></li>
		</ul>
	</section>
	<section id="rowThree">
		<ul>
			<li><img src="static/orders/img/shopFlowers/ModernMassofCymbidiums.webp" alt=""><p>Desc of Product</p></li>
			<li><img src="static/orders/img/shopFlowers/NewProduct.png" alt=""><p>Desc of Product</p></li>
			<li><img src="static/orders/img/shopFlowers/PeachPaveArrangement.webp" alt=""><p>Desc of Product</p></li>
			<li><img src="static/orders/img/shopFlowers/PinkBloomsandPhalaenopsis.webp" alt=""><p>Desc of Product</p></li>
		</ul>
	</section>
	<section id="rowFour">
		<ul>
			<li><img src="static/orders/img/shopFlowers/PinkandYellowGardenMix.webp" alt=""><p>Desc of Product</p></li>
			<li><img src="static/orders/img/shopFlowers/PoppiesandGardenRoses.webp" alt=""><p>Desc of Product</p></li>
			<li><img src="static/orders/img/shopFlowers/PresentationStyleBouquet.webp" alt=""><p>Desc of Product</p></li>
			<li><img src="static/orders/img/shopFlowers/RichTropicalMix.webp" alt=""><p>Desc of Product</p></li>
		</ul>
	</section>
	<section id="rowFive">
		<ul>
			<li><img src="static/orders/img/shopFlowers/SeasonalWhiteandPink.webp" alt=""><p>Desc of Product</p></li>
			<li><img src="static/orders/img/shopFlowers/VintageBallJarPosey.webp" alt=""><p>Desc of Product</p></li>
			<li><img src="static/orders/img/shopFlowers/WoodenPedestal.png" alt=""><p>Desc of Product</p></li>
			<li><img src="static/orders/img/shopFlowers/YellowBloomsinMecuryGlass.webp" alt=""><p>Desc of Product</p></li>
		</ul>
	</section>
	<section id="rowSix">
		<ul>
			<li><img src="static/orders/img/shopFlowers/YellowBloomsinMilkGlass.webp" alt=""></li>
		</ul>
	</section>
</article>	
</body>
</html>