@font-face {
	font-family: 'Delius Swash Caps', cursive;
	font-family: 'Sail', cursive;
	font-family: 'Mystery Quest', cursive;
	font-family: 'Spirax', cursive;
	font-family: 'Griffy', cursive;
	font-family: 'Irish Grover', cursive;
	font-family: 'Bonbon', cursive;
	font-family: 'Ruge Boogie', cursive;
	font-family: 'Flavors', cursive;
	font-family: 'Butterfly Kids', cursive;

}

body {
	background-image: url("/static/home/img/background3.jpg");
	background-repeat: no-repeat;
}

h1 {
	font-family: 'Spirax', cursive;
	font-size: 5em;
	margin-left: 45%;
}


nav ul {
	list-style: none;
	text-align: center;
	width: 50%;
	background-color: #000000;
	color: #FFFFFF;
	padding: 0;
	
} 

nav li {
	display: inline;
	font-size: 1.2em;
	text-align: left;
	line-height: 40px;
}

nav a {
	text-decoration: none;
	color: #FFFFFF;
	display: block;
	padding-left: 15px;
	border-bottom: 1px solid #333333;
	transition: .3s background-image;
}

nav a:hover {
	background-image: url("/static/home/img/resized-nav-background.jpg");
	opacity: 0.8;
	color: #000000;
	font-family: 'Lobster', cursive;
	font-weight: bolder;
	

}

nav li li {
	font-size: 1em;
}

@media screen and (min-width: 500px) {
	nav li {
		width: 130px;
		border-bottom: none;
		height: 50px;
		line-height: 50px;
		font-size: 1.4em;
		display: inline-block;
		margin-right: -4px;
	}

	nav a {
		border-bottom: none;
	}

	nav > ul > li {
		text-align :center;
	}

	nav > ul > li > a {
		padding-left: 0;
	}

	nav li ul {
		position: absolute;
		display: none;
		width: inherit;
	}

	nav li:hover ul {
		display: block;
	}

	nav li ul li {
		display: block;
	}
}

#contactUs p {
	background-color: #000000;
	max-width: 250px;
	max-height: 250px;
}
