<html>
<head>
	<meta charset="UTF-8">
	<title>Flowers For The People</title>
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static "css/index.css" %}">
	<link href="https://fonts.googleapis.com/css?family=Bonbon|Butterfly+Kids|Delius+Swash+Caps|Flavors|Griffy|Irish+Grover|Mystery+Quest|Ruge+Boogie|Sail|Spirax|Lobster" rel="stylesheet">
</head>
<body>
	<article>
		<header>
			<h1>Flowers For The People</h1>
			<nav>
				<ul>
					<li><a href="Home">Home</a></li>
					
					<li><a href="#">Shop</a>
						<ul>
							<li><a href="{% url "orders:orderForm" %}">Place Order</a></li>
							<li><a href="{% url "orders:catalog" %}">Browse Catalog</a></li>
							<li><a href="#">Your Cart</a></li>
						</ul>
					</li>
					<li><a href="{% url 'services:main' %}">Services</a>
						<ul>
							<li><a href="delivers">Daily Deliveries</a></li>
							<li><a href="designs">Botanical Designs</a></li>
							<li><a href="Estate">Estate Services</a></li>
							<li><a href="Corporate">Corporate Services</a></li>
							<li><a href="Weddings">Weddings &amp; Events</a></li>
							<li><a href="Holiday_Decor">Holiday Decor</a></li>
						</ul>
					</li>
					<li><a href="AboutUs">About Us</a>
						<ul>
							<li><a href="{% url 'about:index' %}">About Us</a></li>
							<li><a href="ContactUs">Contact Us</a></li>
						</ul>
					</li>
					<li><a href="Press">Press</a></li>
				</ul>
			</nav>
		</header>
		<section id="contactUs">
			<p>Contact Us ###-###-####</p>
		</section>
	</article>
	<section class="main">
		<div id="social">
			<p>Social Media Block</p>
				<div id="widget">
					<p>place holder for widget</p>
					<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRCIvYLj70g4GkBjLat9IpiuO-N7Hei1Ri2x_AzUuEdVk_PxtrFvA" alt="">
				</div>
			
				<img id="fbook"src="{% static "img/facebook.png"%}" alt="">
				<img id="twitter"src="{% static "img/twitter.png" %}" alt="">
				<img id="instagram"src="{% static "img/Instagram.jpg" %}" alt="">
			
		</div>
		<div id="mainSect">
			<p>Seasonal Product? Featured Product?</p>
			<img id="imgOne" src="http://www.fillmurray.com/140/100" alt="">
			<img id="imgTwo" src="http://www.fillmurray.com/200/300" alt="">
			<p id="lookAtit">Would You Just Look At That</p>
			<img id="wouldYou" src="https://pbs.twimg.com/media/CGmXIhBUAAAq-yQ.jpg" alt="">
		</div>
		<div id="newProd">
			<p>Newest Designs</p>
			<img id="cageOne" src="https://www.placecage.com/c/140/200" alt="">
			<img id="seagal" src="http://www.stevensegallery.com/140/200" alt="">
		</div>
	</section>
	<article class="lowerText">
		<img src="http://www.fillmurray.com/460/300" alt="">
	</article>
</body>
</html>