<html>
<head>
	<meta charset="UTF-8">
	<title>Flowers For The People</title>
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'home/css/index.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Bonbon|Butterfly+Kids|Delius+Swash+Caps|Flavors|Griffy|Irish+Grover|Mystery+Quest|Ruge+Boogie|Sail|Spirax|Lobster" rel="stylesheet">
</head>
<body>
	<article>
		<header>
			<h1>Flowers For The People</h1>
			<nav>
				<ul>
					<li><a href="Home">Home</a></li>
					<li><a href="Order_Now">Order Now</a>
						<ul>
							<li><a href="{% url 'orders:home' %}">Flowers</a></li>
							<li><a href="Plants">Plants</a></li>
						</ul>
					</li>
					<li><a href="Shop">Shop</a>
						<ul>
							<li><a href="Candles">Candles</a></li>
							<li><a href="Candy">Candy</a></li>
							<li><a href="Cards">Cards</a></li>
							<li><a href="Containers">Containers</a></li>
							<li><a href="Books">Books</a></li>
							<li><a href="Vintage">Vintage</a></li>
							<li><a href="Other_Goods">Other Goods</a></li>
						</ul>
					</li>
					<li><a href="Services">Services</a>
						<ul>
							<li><a href="delivers">Daily Deliveries</a></li>
							<li><a href="designs">Botanical Designs</a></li>
							<li><a href="Estate">Estate Services</a></li>
							<li><a href="Corporate">Corporate Services</a></li>
							<li><a href="Weddings">Weddings &amp; Events</a></li>
							<li><a href="Holiday_Decor">Holiday Decor</a></li>
						</ul>
					</li>
					<li><a href="AboutUs">About Us</a>
						<ul>
							<li><a href="{% url 'about:index' %}">About Us</a></li>
							<li><a href="ContactUs">Contact Us</a></li>
						</ul>
					</li>
					<li><a href="Press">Press</a></li>
				</ul>
			</nav>
		</header>
		<section id="contactUs">
			<p>Contact Us ###-###-####</p>
		</section>
	</article>
</body>
</html>


<p>Sometime my sister, she show her vazhïn to my brother Bilo and say "You will never get this, you will never get it, la la la la la la!" He behind his cage. He cries, he cries and everybody laughs. She goes "You never get this." But one time he break cage and he "get this" and then we all laugh. High five!This CJ was like no Kazakh woman I have ever seen. She had golden hairs, teeth as white as pearls, and the asshole of a seven-year-old. For the first time in my lifes, I was in love.</p>
